h1{
  text-align: center;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 50px;
  color:#2EFEF7;

}
body{
  background-image: url(../img/111193-OO0LDV-826.jpg);
  background-blend-mode: screen;
  opacity: 3.0;	  opacity: 3.0;
}

p{
  font-size: 50px;
  color:#000000;
  text-align: center, justify;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Audiowide', cursive;
  padding: 3%;

}
.row{
  border-radius: 20px;
}
ul{
  text-align: center;
  display: inline;
  font-size: 40px;
  color:#2EFEF7 ;
  opacity: 1;
  font-family: 'Bungee Inline', cursive;


}
